.float-box {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.center-child {
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  border: 2px solid #1b91ff;
  border-radius: 9999px;
  padding: 10px 30px;
  transition: transform 0.3s linear;

  &:hover {
    color: #1b91ff;
    transform: scale(1.1);
  }
}
