:root {
  --c-primary: #5fc178;
  --c-text: #333;
  --c-bg: #fff;
}

.dark {
  --c-text: #fafafa;
  --c-bg: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 900px;
}

#app {
  height: 100%;
  padding: 1rem;
}

html.dark {
  background: #121212;
}

input:focus {
  outline: none;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13 148 136);
  height: 2px;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

html {
  background-color: var(--c-bg);
  color: var(--c-text);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--c-text);
}

button {
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }
}

hr {
  opacity: 0.1;
}

.tag {
  margin: 4px;
  padding: 2px 4px;

  // border: 1px solid var(--c-text);
}
